:root {
    --primary-color: #E6F0F2;
    --secondary-color: #FFFFFF;
    --primary-text-color: #006983;
    --hover-button-color: #066e88;
    --footer-color: #25505C;
    --footer-secondary-color: #183840;
}
