@import url("../Common/Common.css");

body {
    font-family: Arial, sans-serif;
    letter-spacing: .04em;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; 
    
  }

  .container img {
    position: absolute;
    width: 10em;
    height: 10em;
    margin-top: -33em;
    margin-left: -72em;
  }
  
  .step-container {
    position: relative;
    background-color: var(--secondary-color);
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 500px
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    width: 500px; */
  }
  
  .step-container h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  
  .step-container input,
  .step-container select {
    margin-top: 2em;
    width: 100%;
    height: 20px;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 4px;
    outline: none;
  }

  .step-container input {
    margin-top: 2em;
    width: 21em;
  }

  .name-input {
    display: flex;
  }

  .name-input .name {
    margin-top: 2em;
    width: 14em;
    margin-right: 3em;
    color: var(--primary-text-color);
  }
  
  .step-container p {
    cursor: pointer;
  }

  .next-button {
    background-color: var(--primary-text-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    width: 9em;
    margin-top: 1em;
    margin-left: .5em;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .next-button:hover {
    background-color: var(--hover-button-color);
  }
  
  .step-container h2.thank-you {
    font-size: 24px;
    color: var(--primary-text-color);
    text-align: center;
  }

  .back-arrow {
    position: absolute;
    margin-top: -18em;
    margin-left: -25em;
  }
  
  @media screen and (max-width: 900px) {
    img {
      width: 10em;
      height: 10em;
      display: block;
    }
  }