@import url("../Common/Common.css");

.navbar {
    box-sizing: border-box;
    background-color: var(--secondary-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 6em;
    color: var(--primary-text-color);
}

.navbar .list {
    list-style-type: none;
    display: flex;
    gap: 55px;
    margin-left: 1em;
    font-size: large;
    
}

.list .icon:hover {
    background-color: var(--primary-color);
}

.link {
    text-decoration: none;
    color: var(--primary-text-color);
    letter-spacing: .3em;   
}

.link-ul {
    text-decoration: none;
    color: var(--primary-text-color);   
}

.link-ul.active {
    background-color: var(--primary-text-color);
    padding: .8em;
    color: white;
    border-radius: .8em;
    margin-top: -1em;
    
}

input {
    width: 20em;
    text-align: center;
    height: 4em;
    border-radius: 4em;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    margin-right: 1.5em;

}

.side-containers {
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
}

.side-bar {
    background-color: white;
}