body {
    background-size: cover;
    background-position: center;
}

.Name-Page {
    width: 400px;
    padding: 10% 0 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background-color: white;
    max-width: 300px;
    margin: 0 auto 100px;
    padding: 25px;
    text-align: center;
    box-shadow: 8px 8px 8px 8px solid #ccc;

}

.form input {
    font-family: "Roboto", "sans-serif";
    outline: 1;
    background: #E6F0F2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 14px
}

.form button {
    font-family: "Roboto", "sans-serif";
    outline: 0;
    background: #006983;
    width: 100%;
    border: 0;
    padding: 10px;
    color: #ffffff;
    font-size: 13px;
    cursor: pointer;
}

.form p {
    font-family: "Roboto", "sans-serif";
    font-size: 80%;
    margin: 15px;
    color: #006983;
    text-decoration: none;
    list-style: none;
}

.form button:hover {
    background: #046c86;
}

.form .unknown-form {
    display: none
}
